.Page {
  padding: 0 10% 0 10%
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5em 0 0.5em 0;
}

h2 {
  margin-top: 20px;
}


.posts {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5%;
  grid-row-gap: 25px;
}

.posts h5,
.posts h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.signout {
  margin-left: 12em;
}

.card {
  height: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

li {
  margin-bottom: 0;
  list-style-type: none
}

button {
  margin: 0
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.active {
  font-weight: bold
}

label {
  float: right
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */